.map {
  position: absolute;
  z-index: 0;
  width: 100%;
  background-image: url(/assets/images/portugal.svg);
  background-repeat: no-repeat;
  background-position: right center;
  height: 100%;
  
  img {

  }
}