$font-primary: 'Lato';
$font-secondary: 'Fira Mono';

$light: #EEF8FF;
$dark: #383838;
$darker: #2B2B2B;
$darkest: #272727;

$primary: #6AFFC6;
$gray: #777777;

$spacing: 0.5rem;
$margins-limit: 4;

$text-small: 0.9rem;
$text-base: 1.25rem;

$timing-fast: 0.2s;
$timing-normal: 0.5s;
$timing-slow: 0.8s;